/* Стилизация кнопки */
.button{
    width:182px;
    padding:15px;
    box-sizing: border-box;
    text-align: center;
    border-radius:8px;
    cursor: pointer;
    font-family: Roboto;
    font-size: 16px;
}
.button_primary{
    color:var(--white);
    background-color:var(--primary);
}
.button_primary:hover{
    background-color: #2342C0;
}
.button_primary:disabled{
    opacity:0.5;
    cursor:default;
}
.button_secondary{
    color:var(--white);
    background-color:var(--secondary);
}
.button_secondary:hover{
    background-color: #5028C6;
}
.button_secondary:disabled{
    cursor:default;
    opacity:0.5;
}
.button_alternate{
   color:var(--grey-4);
   background-color:var(--white);
   border:1px solid var(--grey-3);
}
.button_alternate:hover{
    color:var(--grey-4);
    border-color:var(--black);
}
.button_alternate:disabled{
    opacity:0.5;
    cursor:default;
}
.wrapper__button{
    margin:16px;
}