@import '../fonts/fonts.css';
@import 'normalize.css';
@import "../../components/header/header.css";
@import "../../components/footer/footer.css";
@import "../../components/container/container.css";

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-0: #E5E5E5;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

body{
    font-family: 'Roboto', sans-serif;
}
html, body, .page{
    height:100%;
}
main{
    background-color:var(--grey-1);
    flex-grow: 1;
}
.page{
    display: flex;
    flex-direction:column;
}