.skeleton{
    border:1px solid var(--grey-3);
    border-radius:8px;
    max-width:579px;
    max-height:192px;
    padding:24px;
    box-sizing: border-box;
}
.skeleton__header{
    display: flex;
}
.skeleton__avatar{
    border-radius: 50px;
    width:64px;
    height:64px;
    background-color: var(--grey-2);
}
.skeleton__section{
    flex-grow: 1;
}
.skeleton__footer{

}
.skeleton__line{
    background:var(--grey-2);
    height:20px;
    padding: 0;
    margin: 0;
}
.skeleton_width172{
    max-width:127px;
    margin-top:8px;
    margin-left:16px
}
.skeleton_width257{
    max-width: 257px;
    margin-top:8px;
    margin-left:16px
}
.skeleton_width515{
    max-width:515px;
    margin-top:8px;
}
